<div
  class={{class
    'key'
    white=@key.isWhite
    black=@key.isBlack
    highlighted=@highlighted
  }}
  {{on 'click' @onSelect}}
  role="button"
>
  {{#if @root}}
    <div class="root"></div>
  {{/if}}
  <div class="name">{{@key.name}}</div>
</div>