<div
  class={{class
    'key'
    white=@key.isWhite
    black=@key.isBlack
    highlighted=@highlighted
    root=@root
  }}
  {{on 'click' @onSelect}}
  role="button"
>
  <div class="name">{{@key.name}}</div>
</div>